@import '../../../../styles/sizes-variables.scss';
@import '../../../../styles/variables.scss';

.headerPalsCard {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(240, 240, 240);
  border-radius: $border-radius-s;
  background: $color-neutral-2;

  .header {
    padding: $padding-l $padding-ml $padding-ml;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-l;

    h3 {
      margin: 0;
      color: $color-primary-light-9;
      font-family: $main-font-family;
      font-size: $font-size-l;
      font-weight: $font-weight-sm;
      line-height: $line-height-s;
      text-align: center;
      white-space: break-spaces;
    }

    p {
      margin: 0;
      color: $color-neutral-7;
      font-family: $main-font-family;
      font-size: $font-size-s;
      font-weight: $font-weight-s;
      line-height: $line-height-s;
      text-align: center;
      width: 85%;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    box-shadow: inset 0 1px 0 0 rgb(240, 240, 240);
    background: rgb(250, 250, 250);
    padding: 16px 88px;

    button {
      width: 50%;
      padding: $padding-buttons;
      border-radius: $border-radius-s;
      font-family: $main-font-family;
      font-size: $font-size-s;
      font-weight: $font-weight-s;
      line-height: $line-height-s;
      text-align: center;
    }

    .accidentally {
      color: $color-primary-light-6;
    }

    .parameters {
      color: $color-neutral-10;
    }
  }
}

.jointWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
}

@media only screen and (min-width: 834px) and (max-width: 1439px) {
  .jointWrapper {
    height: 822px;
    overflow: auto;
  }

  .headerPalsCard {
    .header {
      h3 {
        width: 70%;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 833px) {
  .jointWrapper {
    height: 822px;
    overflow: auto;
  }

  .headerPalsCard {
    .actions {
      flex-direction: column;
      box-sizing: border-box;
      padding: 16px;

      button {
        width: 100%;
      }
    }
  }
}
