.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(121, 156, 213, 0.5);
  backdrop-filter: blur(12px);
  z-index: 15;
}
