@import '../../../../styles/sizes-variables.scss';
@import '../../../../styles/variables.scss';

.all-feedbacks-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .feedbacks-wrapper {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 132px);
    overflow-y: auto;

    .ant-list-item {
      width: 100%;
      padding: 0;
    }

    .ant-list-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  .buttons {
    height: $height-s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    font-family: $main-font-family;
    font-weight: $font-weight-s;
    line-height: $line-height-s;
    text-align: center;

    .button-primary {
      width: 100%;
      height: 100%;
      padding: 4px 15px;
      box-sizing: border-box;

      border: 1px solid $color-primary-light-6;
      border-radius: 2px;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
      background: $color-primary-light-6;

      color: $color-neutral-1;
      font-size: $font-size-s;
    }

    .button-text {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 4px 15px;
      border-radius: 2px;

      color: $color-primary-light-6;
      font-size: $font-size-m;
    }
  }
}

@media (max-width: 567px) {
  .all-feedbacks-container {
    height: 730px;

    .feedbacks-wrapper {
      max-height: calc(100% - 122px);
      overflow-y: auto;

      .ant-list-items {
        gap: 16px;
      }
    }

    .buttons {
      width: 100%;
      height: 96px;
      flex-direction: column;
      gap: 16px;

      .button-primary {
        height: 40px;
      }

      .button-text {
        height: 40px;
      }
    }
  }
}
