.modal-wrapper {
  width: fit-content;
  height: fit-content;
}

.ant-modal-root .ant-modal-mask {
  backdrop-filter: blur(12px);
  background-color: rgba(121, 156, 213, 0.1);
}

.ant-modal .ant-modal-content {
  padding: 0;
}
