$color-primary-light-1: #f0f5ff;
$color-primary-light-2: #d6e4ff;
$color-primary-light-3: #adc6ff;
$color-primary-light-4: #85a5ff;
$color-primary-light-5: #597ef7;
$color-primary-light-6: #2f54eb;
$color-primary-light-7: #1d39c4;
$color-primary-light-8: #10239e;
$color-primary-light-9: #061178;
$color-primary-light-10: #030852;

$color-primary-dark-1: #131629;
$color-primary-dark-2: #161d40;
$color-primary-dark-3: #1c2755;
$color-primary-dark-4: #203175;
$color-primary-dark-5: #263ea0;
$color-primary-dark-6: #2b4acb;
$color-primary-dark-7: #5273e0;
$color-primary-dark-8: #7f9ef3;
$color-primary-dark-9: #a8c1f8;
$color-primary-dark-10: #d2e0fa;

$color-neutral-1: #fff;
$color-neutral-2: #fafafa;
$color-neutral-3: #f5f5f5;
$color-neutral-4: #f0f0f0;
$color-neutral-5: #d9d9d9;
$color-neutral-6: #bfbfbf;
$color-neutral-7: #8c8c8c;
$color-neutral-8: #595959;
$color-neutral-9: #434343;
$color-neutral-10: #262626;
$color-neutral-11: #1f1f1f;
$color-neutral-12: #141414;
$color-neutral-13: #000;

$color-secondary-light-1: #e6f7ff;
$color-secondary-light-2: #bae7ff;
$color-secondary-light-3: #91d5ff;
$color-secondary-light-4: #69c0ff;
$color-secondary-light-5: #40a9ff;
$color-secondary-light-6: #1890ff;
$color-secondary-light-7: #096dd9;
$color-secondary-light-8: #0050b3;
$color-secondary-light-9: #003a8c;
$color-secondary-light-10: #002766;

$color-secondary-dark-1: #111d2c;
$color-secondary-dark-2: #112a45;
$color-secondary-dark-3: #15395b;
$color-secondary-dark-4: #164c7e;
$color-secondary-dark-5: #1765ad;
$color-secondary-dark-6: #177ddc;
$color-secondary-dark-7: #3c9ae8;
$color-secondary-dark-8: #65b7f3;
$color-secondary-dark-9: #8dcff8;
$color-secondary-dark-10: #b7e3fa;
