@import '../../../styles/variables.scss';
@import '../../../styles/sizes-variables.scss';

.change-password-wrapper {
  box-sizing: border-box;
  width: 539px;
  height: 419px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $padding-xl $padding-l;

  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background: $color-neutral-1;
}

.change-password-container {
  width: $width-all;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $gap-l;

  h3 {
    width: $width-all;
    color: $color-neutral-10;
    font-family: $main-font-family;
    font-size: 24px;
    font-weight: 500;
    line-height: $line-height-s;
    text-align: center;
    margin: 0;
  }
}

.change-password-form {
  width: $width-all;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $gap-s;
}

.change-password-form-item {
  width: $width-all;
  height: $height-m;
  margin: 0;

  input {
    box-sizing: border-box;
    border: 1px solid $color-neutral-5;
    border-radius: 2px;
    background: $color-neutral-1;

    color: rgba(0, 0, 0, 0.65);
    font-family: $main-font-family;
    font-size: $font-size-s;
    font-weight: $font-weight-s;
    line-height: $line-height-s;
    text-align: left;
  }

  input::placeholder {
    color: $color-neutral-6;
    font-family: $main-font-family;
    font-size: $font-size-s;
    font-weight: $font-weight-s;
    text-align: left;
  }
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-input-affix-wrapper {
  border-radius: 2px;
  box-sizing: border-box;
  padding: 4px 12px;
  display: flex;
  height: $height-s;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-form-item .ant-form-item-explain,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-form-item .ant-form-item-extra {
  margin-top: 2px;
  width: $width-all;

  font-family: $main-font-family;
  font-size: 12px;
  font-weight: $font-weight-s;
  line-height: $line-height-s;
  text-align: left;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-form-item .ant-form-item-explain-error {
  color: rgb(255, 77, 79);
  font-family: $main-font-family;
  font-size: 12px;
  font-weight: $font-weight-s;
  line-height: $line-height-s;
  text-align: left;
}

.change-buttons {
  width: $width-all;
}

.change-password-button {
  width: $width-all;
  height: $height-s;
  padding: 6.4px 15px;

  box-sizing: border-box;
  border: 1px solid $color-primary-light-6;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background-color: $color-primary-light-6;

  color: $color-neutral-1;
  font-family: $main-font-family;
  font-size: $font-size-m;
  text-align: center;

  outline: none;
  margin-top: $padding-m;
}

.change-password-button:disabled {
  box-sizing: border-box;
  border: 1px solid $color-neutral-5;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
  background-color: $color-neutral-3;
  color: $color-neutral-6;
}

@media (max-width: 567px) {
  .change-password-wrapper {
    width: 328px;
    height: 386px;
    padding: $padding-l $padding-m;
  }
}
