@import '../../styles/variables.scss';
@import '../../styles/sizes-variables.scss';

.main-container {
  width: $width-all;
  height: 100%;
  background-color: transparent;
  padding-bottom: 42px;
}

.main-content-container {
  padding: $padding-ml;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $padding-m;
  height: 100%;
}

.main-page__card-text {
  box-sizing: border-box;
  width: 752px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $padding-ml;

  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background-color: $color-neutral-1;

  div {
    width: 704px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      width: 704px;
      margin: 0;
      color: $color-primary-light-9;
      font-size: $font-size-m;
      line-height: $line-height-s;
      text-align: left;
      word-wrap: break-word;
      font-family: $main-font-family;
    }
  }
}

.main-page__card-text-wrapper {
  width: 752px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $gap-s;
}

.main-page__cards-legacy {
  box-sizing: border-box;
  width: 752px;
  height: 126px;
  padding: $padding-ml;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background-color: $color-neutral-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h4 {
    width: 690px;
    color: $color-neutral-10;
    font-size: 20px;
    font-weight: 500;
    line-height: $line-height-s;
    text-align: left;
    margin: 0;
    margin: 8px 0;
    font-family: $main-font-family;
  }
}

.main-page__cards-action-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $gap-s;
}

@media (min-width: 834px) and (max-width: 1439px) {
  .main-page__card-text {
    width: $width-all;
    height: auto;

    div {
      width: $width-all;
      height: auto;

      p {
        width: $width-all;
      }
    }
  }

  .main-page__card-text-wrapper {
    width: $width-all;
  }

  .main-page__cards-legacy {
    width: $width-all;
    height: auto;

    h4 {
      width: $width-all;
      margin: 8px 0;
    }
  }

  .main-page__cards-action-wrapper {
    width: $width-all;
  }
}

@media (max-width: 567px) {
  .main-container {
    box-sizing: border-box;
    width: $width-all;
  }

  .main-content-container {
    padding: $padding-ml $padding-m;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .main-page__card-text {
    width: 328px;
    height: auto;
    padding: $padding-m;

    div {
      width: $width-all;
      height: auto;

      p {
        width: $width-all;
        word-wrap: break-word;
      }
    }
  }

  .main-page__card-text-wrapper {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap-s;
  }

  .main-page__cards-legacy {
    width: 328px;
    height: 188px;
    padding: $padding-m;

    h4 {
      width: 296px;
    }
  }

  .main-page__cards-action-wrapper {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
  }
}
