.commonBlock {
  width: 520px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
}
.commonBlockWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 360px) and (max-width: 833px) {
  .commonBlock {
    width: 100%;
    overflow: scroll;
  }
  .commonBlockWrapper {
    width: 150px;
  }
}
